body{
  background-color:#FF7800;

  font-family:'Lobster',cursive;
  color:#fff;
}
h1{
  font-size: 10rem;
  color:#F7ECDE;
  text-shadow: 15px 10px 12px black;
  margin-top:0;
  margin-bottom:45px;

}
p{
  color:white;
  display:inline-block;
  text-align: center;
}


.container{
  text-align: center;
  width:100%;
}

.player{
  width:270px;
  height:100px;
  display:inline-block;
  font-size: 3rem;
  text-shadow: 1px 1px ;
  font-family:'Roboto', sans-serif;
  margin-top:20px;

}
.credit{
  display:inline-block;
  width:100%;
  font-family:'Roboto', sans-serif;
  letter-spacing: 1px;
}

.dice{
    width:100px;
    height:100px;
    clear:both;
    margin-top:50px;
    margin-bottom:50px;
}
.diceDive{
  width:100%;
  text-align: center;
  display:inline-block;
}
